
@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,500');
// Update Bulma's global variables
$family-sans-serif: "Quicksand", sans-serif;
$primary: rgb(13, 29, 170);
$body-size: 16px;
$size-1:6rem;
$size-2:4rem;
$size-3:3rem;
$size-4:2.25rem;
$size-5:1.5rem;
$size-6:1.25rem;
$size-7:0.75rem;


// Update some of Bulma's component variables
//$body-background-color: white;
// $control-border-width: 2px;
// $input-border-color: white;

// Background images for app
.has-background {
  background: 
  radial-gradient(circle 80vw at top right, rgb(255, 240, 175), rgba(255, 246, 208, 0.5), rgba(255, 253, 245, 0.2), transparent),
  linear-gradient(rgba(100, 195, 250, 0.8), rgba(18, 57, 182, 0.8));
}

#column3 {
  display: flex;
    flex-direction: row; 
    align-items: center;
}


// Import only what you need from Bulma
    //To edit at project end
    @import "../node_modules/bulma/bulma.sass";
